{% extends 'blog/base_blog.html' %}

{% block title %}
    Tag Create - {{ block.super }}
{% endblock %}

{% block content %}

    <form action="{% url 'tag_create_url' %}" method="post">
        {% csrf_token %}
        <h1 class="mb-4">Create your tag:</h1>
        {% for field in form %}
            <div class="form-group">
                {% if field.errors %}
                    <div class='alert alert-danger'>
                        {{ field.errors }}
                    </div>
                {% endif %}
                {{ field.label }}
                {{ field }}
            </div>
        {% endfor %}
        <br><button type="submit" class='btn btn-info'>Create Tag</button>
    </form>

{% endblock %}
